<ion-content class="auth-form">
  <div class="splash-header">
    <h2>Hello There !</h2>
    <h5>Speed and Quality of service.</h5>
  </div>
<div class="nail-thumb">
  <img src="../../assets/icon/express_icon_white.jpeg" alt="icon" class="express-icon">
</div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
 
        <ion-button [routerLink]="['/login']" expand="block" color="transparent" class="padding-top secondary-button">Sign
          In</ion-button>

        <ion-button [routerLink]="['/registration']" expand="block" class="padding-top"
          color="primary">Create an account</ion-button>
          <ion-router-link color="primary" href="#" class="link-button">forgot credentials ?</ion-router-link>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>